@import "./fonts";

$background1: #3D2F53;
$background2: #624B86;
$lightColor: #C1B5D3;
$altLightColor: #7B7486;
$whiteish: #C8C7D5;

body {
  background-color: $background1;
  color: $whiteish;
  font-family: 'Pier Sans', sans-serif;
  font-size: 14pt;
}

a {
  color: $background2;
  text-decoration: none;
  &:hover {
    color: $altLightColor;
    cursor: pointer;
  }
}

pre {
  background-color: #6E698C;
  padding: 15px;
  text-align: left;
  width: 100%;
  code {
    color: $whiteish;
  }
}

.pacifico {
  font-family: 'Pacifico', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $whiteish;
  font-family: 'Pier Sans', sans-serif;
}

h1 {
  font-size: 2.75rem;
}

h4 {
  font-size: 1.4375rem;
}

h5 {
  font-size: 1.125rem;
}

.panel {
  cursor: pointer;
  div {
    background-color: $altLightColor;
    box-sizing: border-box;
    margin: 0.25rem 0;
    padding: 1.25rem;
    width: 100%;
  }
}

.button {
  background-color: $background2;
  color: $whiteish;
  margin: 0.25rem 0;
  padding: 1.25rem;
  width: 100%;
}
