@import "./settings";
@import "./foundation";
@import "./fonts";

$background1: #3D2F53;
$background2: #624B86;
$lightColor: #C1B5D3;
$altLightColor: #7B7486;
$whiteish: #C8C7D5;

body {
  background-color: $background1;
  color: $whiteish;
  font-family: 'Pier Sans', sans-serif;
  font-size: 14pt;
}

pre {
  background-color: #6E698C;
  padding: 15px;
  text-align: left;
  code {
    color: $whiteish !important;
  }
}

.pacifico {
  font-family: 'Pacifico';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $whiteish;
  font-family: 'Pier Sans', sans-serif;
  padding: 10px;
}
